@page "{name}"
@model Shop.UI.Pages.ProductModel
@{
}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <figure class="image">
                        <img src="~/images/258097012-1518655510.jpg" />

                    </figure>
                </div>
                <div class="column is-6">
                    <section class="content">
                        <p class="title">@Model.Product.Name</p> @*Shop.UI.Pages.ProductModel.Product.get zwrócił null.*@
                        <p class="subtitle">@Model.Product.Description</p>
                        <p>Eat too much then proceed to regurgitate all over living room carpet while humans eat dinner. Mice catasstrophe jump on counter removed by human jump on counter again removed by human meow before jumping on counter this time to let the human know am coming back instantly break out into full speed gallop across the house for no reason yet kitty time meow loudly just to annoy owners and whatever. </p>
                        <footer>
                            <form method="post">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Size</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select asp-for="CartViewModel.StockId" onchange="toggleStock(event)">
                                                        @foreach (var s in Model.Product.Stock)
                                                        {
                                                            bool disabled = s.Qty <= 0;

                                                            <option value="@s.Id" disabled="@disabled">@s.Description</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Qty</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <input class="input" asp-for="CartViewModel.Qty" value="1" />
                                            </div>
                                            @foreach (var stock in Model.Product.Stock)
                                            {
                                                if (stock.Qty <= 5)
                                                {
                                                    <p class="help is-danger is-hidden low-stock" id="low-stock-@stock.Id">
                                                        @(stock.Qty == 0 ? "Out of Stock" : $"{stock.Qty} Left")
                                                    </p>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <button class="button is-success" type="submit">Submit</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var toggleStock = function (e) {
        var stockToHide = document.querySelectorAll('.low-stock')

        stockToHide.forEach(function (e) {
            e.classList.add('is-hidden');
        })
        showLowStock(e.target.value);
    }

    var showLowStock = function (id) {
        var stockToShow = document.getElementById('low-stock-' + id);

        if (stockToShow !== null && stockToShow !== undefined)
            stockToShow.classList.remove('is-hidden');
    }

    showLowStock(document.getElementById('CartViewModel_StockId').value);
</script>
